<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- namespace名字必须与Mapper接口名一致 -->
<mapper namespace="com.lenovo.push.data.serving.mapper.AvazuMapper">
	<select id="getDailyAvazuFeedbackStat" parameterType="map" resultType="avazu" resultMap="avazuMap">
		select value from  avazu_statresult where thekey=#{thekey} and thedate=#{thedate}
	</select>	
	<select id="getDailyAvazuErrorStat" parameterType="map" resultType="java.util.ArrayList" resultMap="avazuMap">
		select errcode, value from avazu_statresult where thekey=#{thekey} and thedate=#{thedate} order by value desc
	</select>	
</mapper>